<div class="App">
  <div class="header">
    <div class="logo">РОЛАНО</div>

    <div class="header__content"></div>
  </div>

  <div class="promo__section">
    <div class="promo__content">
      <div class="promo-text">
        <span class="promo-common-text">Добро пожаловать в салон <span class="promo-rolano">Ролано</span></span>
        <button class="services-link" onclick="scroll_to_services()">Услуги</button>
      </div>
      <div class="promo-scissors">
        <div class="scissors"></div>
      </div>
    </div>
  </div>
  <div class="services_section">
    <div class="services" id="services">
      <div class="circle"></div>
      <div class="circle-bot"></div>
      <div class="services__header">
        <button class="service__type active" onclick="services_types(event, 'Женский зал')">Женский зал</button>
        <button class="service__type" onclick="services_types(event, 'Мужской зал')">Мужской зал</button>
        <button class="service__type" onclick="services_types(event, 'Макияж')">Макияж</button>
        <button class="service__type" onclick="services_types(event, 'Маникюр')">Маникюр</button>
        <button class="service__type" onclick="services_types(event, 'Педикюр')">Педикюр</button>
        <button class="service__type" onclick="services_types(event, 'Депиляция')">Депиляция</button>
      </div>
      <div class="services__content active woman" id="Женский зал">
        <div class="services__line">
          <div class="services__man woman">
            <div class="info-window" style="display: none" id="info">
              <div>Цена зависит от длины волос в сантиметрах</div>
            </div>
            <button class="info-btn" onclick="showInfo()">
              <%= image_tag("information.jpg", class:"info-icon") %>
            </button>
          </div>
          <div class="price woman">
            <div class="prices prices-header">До 10</div>
            <div class="prices prices-header">От 10 до 20</div>
            <div class="prices prices-header">Больше 20</div>
          </div>
        </div>
        <% @for_women.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man woman"><%= man_service.title %></div>
            <div class="price woman">
              <div class="prices"><%= man_service.price_lower_ten %></div>
              <div class="prices"><%= man_service.price_ten_to_twenty %></div>
              <div class="prices"><%= man_service.price_upper_twenty %></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="services__content" id="Макияж" style="display: none">
        <% @makeups.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man"><%= man_service.title %></div>
            <div class="price"><%= man_service.price %></div>
          </div>
        <% end %>
      </div>
      <div class="services__content" id="Мужской зал" style="display: none">
        <% @for_men.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man"><%= man_service.title %></div>
            <div class="price"><%= man_service.price %></div>
          </div>
        <% end %>
      </div>
      <div class="services__content" id="Маникюр" style="display: none">
        <% @manicures.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man"><%= man_service.title %></div>
            <div class="price"><%= man_service.price %></div>
          </div>
        <% end %>
      </div>
      <div class="services__content pedicure" id="Педикюр" style="display: none">
        <% @pedicures.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man"><%= man_service.title %></div>
            <div class="price"><%= man_service.price %></div>
          </div>
        <% end %>
      </div>
      <div class="services__content" id="Депиляция" style="display: none">
        <% @depilations.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man"><%= man_service.title %></div>
            <div class="price"><%= man_service.price %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="examples" id="examples">
    <div class="examples-header">
        Наши работы
      <button class="arrow-prev" onclick="prevSlide(event)">

      </button>
      <button class="arrow-next" onclick="nextSlide(event)">

      </button>
    </div>
    <div class="examples-content" id="slides">
      <div class="initial-slides" id="initial-slide">
        <div class="examples-area">
          <%= image_tag("first_photo.jpg", class: "examples-images", alt: "...")%>

        </div>
        <div class="examples-area">
          <%= image_tag("second_photo.jpg", class: "examples-images", alt: "...")%>

        </div>
        <div class="examples-area">
          <%= image_tag("third_photo.jpg", class: "examples-images", alt: "...")%>

        </div>
      </div>
      <div class="second-slides" id="second-slide">
        <div class="examples-area">
          <%= image_tag("fourth_photo.jpg", class: "examples-images", alt: "...")%>

        </div>
        <div class="examples-area">
          <%= image_tag("fifth_photo.jpg", class: "examples-images", alt: "...")%>

        </div>
      </div>
    </div>

  </div>
<h1>Вы можете найти нас здесь</h1>
  <div id="yandex_map" class="yandex_map">
</div>


  <div class="footer">
    <div class="footer-left">
      <div class="logo footer-logo">ролано</div>
      <div class="work-time">Время работы: <span>9:00-20:00</span></div>
    </div>
    <div class="girl"></div>
    <%#= image_tag('girl2.png', class: 'footer-girl-img') %>
    <div class="footer-social">
      <a href="https://instagram.com/_rolano_?igshid=MDM4ZDc5MmU=" target="_blank" class="inst-link"><%= image_tag('inst.svg', class: 'inst') %></a>
      <div class="phone"><a href="tel: 8-495-792-81-39">+7 (495) 792-81-39</a> </div>
    </div>
  </div>
</div>
<div class="test">
  <div class="item1"></div>
  <div class="item2"></div>
</div>
