<!DOCTYPE html>
<html>
  <head>
    <title>BeautySalon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
        document.addEventListener('click', function(event) {
            let infoWindow = document.getElementById('info')
            const outsideClick = !infoWindow.contains(event.target);
            if (document.getElementsByClassName('info-btn')[0].contains(event.target)) {
                setTimeout(showInfo, 200)
            }
            if (outsideClick && (infoWindow.style.display === "flex")) {
                infoWindow.style.display = "none"
            }
        });

      function showInfo() {
        document.getElementById('info').style.display = 'flex'
      }

        function scroll_to_services() {
            document.getElementById("services").scrollIntoView({behavior: 'smooth'});
        }

        const services_types = (e, s_name) => {
          let types = document.getElementsByClassName('services__content');
          let buttons = document.getElementsByClassName('service__type')
          let i = 0;
          for (i = 0; i < types.length; i++) {
              types[i].style.display = 'none'
          }
          for (i = 0; i < buttons.length; i++) {
              buttons[i].className = buttons[i].className.replace(' active', '')
          }
          e.currentTarget.className += ' active'
          document.getElementById(s_name).style.display = 'flex'
            if (window.innerWidth <= '800') {
                console.log(window.innerWidth)
                document.getElementById(s_name).scrollIntoView({behavior: "smooth"})
            }
        }

        const nextSlide = () => {
          document.getElementsByClassName('examples-content')[0].classList.add('current-slide-to-next');
        }
        const prevSlide = () => {
            document.getElementById('slides').classList.remove('current-slide-to-next')
        }
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU">
	</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
