<!DOCTYPE html>
<html>
  <head>
    <title>BeautySalon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      const scroll_to_services = () => {
          document.getElementById("services").scrollIntoView();
      }
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU">
	</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
